In [1]:
import pandas as pd
import numpy as np
from pandas import Timestamp
import datetime as dt
from datetime import datetime
from tool import utils

### Loading Data

In [2]:
# read csv into dataframe, specifying the year
crashes = utils.read_csv_of_year(2022)
crashes.head()

,Unnamed: 0,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,1,2022-03-26,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
1,2,2022-06-29,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
2,34,2022-06-29,16:00,NaN,NaN,NaN,NaN,NaN,WILLIAMSBURG BRIDGE OUTER ROADWA,NaN,...,Unspecified,NaN,NaN,NaN,4542336,Motorscooter,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,37,2022-07-12,17:50,BROOKLYN,11225.0,40.663303,-73.96049,"(40.663303, -73.96049)",NaN,NaN,...,Unspecified,NaN,NaN,NaN,4545699,Sedan,NaN,NaN,NaN,NaN
4,38,2022-03-23,10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4512922,Bike,NaN,NaN,NaN,NaN

In [3]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103787 entries, 0 to 103786
Data columns (total 30 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     103787 non-null  int64
 1   CRASH DATE                     103787 non-null  object
 2   CRASH TIME                     103787 non-null  object
 3   BOROUGH                        68724 non-null   object
 4   ZIP CODE                       68712 non-null   float64
 5   LATITUDE                       94849 non-null   float64
 6   LONGITUDE                      94849 non-null   float64
 7   LOCATION                       94849 non-null   object
 8   ON STREET NAME                 75520 non-null   object
 9   CROSS STREET NAME              48766 non-null   object
 10  OFF STREET NAME                28265 non-null   object
 11  NUMBER OF PERSONS INJURED      103787 non-null  float64
 12  NUMBER OF PERSONS KILLED       103787 non-null  float64
 13  NUMBER OF PEDESTRIANS INJURED  103787 non-null  int64
 14  NUMBER OF PEDESTRIANS KILLED   103787 non-null  int64
 15  NUMBER OF CYCLIST INJURED      103787 non-null  int64
 16  NUMBER OF CYCLIST KILLED       103787 non-null  int64
 17  NUMBER OF MOTORIST INJURED     103787 non-null  int64
 18  NUMBER OF MOTORIST KILLED      103787 non-null  int64
 19  CONTRIBUTING FACTOR VEHICLE 1  103197 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 2  79390 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 3  9961 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 4  2639 non-null    object
 23  CONTRIBUTING FACTOR VEHICLE 5  769 non-null     object
 24  COLLISION_ID                   103787 non-null  int64
 25  VEHICLE TYPE CODE 1            102327 non-null  object
 26  VEHICLE TYPE CODE 2            68508 non-null   object
 27  VEHICLE TYPE CODE 3            9227 non-null    object
 28  VEHICLE TYPE CODE 4            2493 non-null    object
 29  VEHICLE TYPE CODE 5            736 non-null     object
dtypes: float64(5), int64(8), object(17)
memory usage: 23.8+ MB

### Duplicate Records

In [4]:
dup_rows = crashes.duplicated().sum()
dup_rows

0

### Consistent Format

In [6]:
# Convert object to datatime("11:45"+":00")
crashes['CRASH DATE'] = pd.to_datetime(crashes['CRASH DATE'])
crashes['CRASH TIME'] = crashes['CRASH TIME']+':00'
crashes['CRASH TIME'] = pd.to_datetime(crashes['CRASH TIME'],format='%H:%M:%S').dt.time
crashes

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'str'